ion-header {
  background-color: #34495e;
}

ion-toolbar {
  --background: #34495e;
  --color: #ecf0f1;
}

ion-title {
  color: #ecf0f1;
  font-weight: 600;
}

ion-content {
  --background: #dfe6e9;
  --color: #2c3e50;
  padding: 16px;
}

ion-list {
  background: transparent;
  padding: 0;
  margin: 14px;
}

ion-item-sliding {
  margin-bottom: 10px;
  border-radius: 12px;
}

ion-item {
  --background: #ffffffaa;
  --color: #2c3e50;
  border-radius: 12px;
}


ion-item-option {
  --background: #0e93aab2;
  --color: #ecf0f1;
}

ion-fab-button {
  --background: #304346;
  --color: #ecf0f1;
}