ion-header {
  background-color: #34495e;
}

ion-toolbar {
  --background: #34495e;
  --color: #ecf0f1;
}

ion-back-button {
  --color: #ecf0f1;
}

ion-title {
  font-weight: 600;
}

ion-content {
  --background: #dfe6e9;
  --color: #2c3e50;
  padding: 16px;
}

ion-list {
  background: transparent;
  padding: 0;
}

ion-item {
  --background: #ffffffaa;
  --border-color: #bdc3c7;
  --color: #2c3e50;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 12px 16px;
}

ion-button {
  --border-radius: 10px;
  margin-top: 10px;
  --background: #304346;
}
